@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">FN Engrenagens</h1>
    <p>Aplicativo utilizado para cadastro de clientes  e serviços. Também será utilizado para calculos de dimensões de engrenagens</p>
</div>
